:root {
    --black: #131313;
    --text: #f1f1f1;
    --primary: #ecd08f;
    --secondary: #1e1a10;
    --pestanha: #131814;
    --muted: #859084;
    /* --danger: #c0392b; 
     --warning: #e67e22;
     --accent: #c8a96e;
    --safe: #27ae60;*/
    --primary-font: 'Playfair Display', sans-serif;
    --secondary-font: 'Inter', sans-serif; 
}

/*body[data-threat="CR"] { --accent: var(--danger); }
body[data-threat="EN"] { --accent: var(--warning); }
body[data-threat="VU"] { --accent: #f1c40f; }
body[data-threat="NT"] { --accent: #3498db; }
body[data-threat="LC"] { --accent: var(--safe); }*/


* {
    box-sizing: border-box;
    margin: 0;
    padding:0;

}

body, html { 
    overflow-x: hidden;
    background: var(--black);
    font-family: var(--secondary-font);
    font-weight: 300;
    color: var(--text);
    font-size: 19px;
    min-height: 100vh;
}

h1 {
     font-size: clamp(2.5rem, 4vw, 4.5rem);
     font-family: var(--primary-font);
}

h2{
    font-size: clamp(1.25rem, 3vw, 3rem);
}

/*header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1313133a;
    backdrop-filter: blur(2px);
    z-index: 1000;
}

header .logo {
    width: 50%;
    font-family: var(--primary-font);
    font-size: 1.3rem;
    letter-spacing: 0.08em;
    color: var(--primary);
    text-transform: uppercase;
}

header nav {
    width: 50%;
    text-align: right;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: var(--text);
}*/


#hero {
    display: flex;

}

#izq-col {
    width: 50%;
    height: 100vh;
    position:relative;
    background: var(--black);
    flex-shrink: 0;
    overflow: hidden;

}

#img-animal {
    width:100%;
    height:100vh;
    object-fit: cover;
    object-position: center;
    transition: opacity 0.8s ease;
    opacity: 0; /*empieza en 0 para que jquery la revele*/
}

#izq-col::after {
    content: '';
    position: absolute;
    background: linear-gradient(to right, transparent 55%, var(--black));

}

#creditosFoto {
    position: absolute;
    bottom: 2rem;
    left: 2.5rem;
    font-size: 10px;
    letter-spacing: 0.1rem;
    color: var(--muted, 0.5);
    text-transform: uppercase;
    z-index: 5;
}

#der-col {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--black);
    padding: 5rem 4rem;
    overflow-y: auto;
}

.title {
    font-size: 11px;
    letter-spacing: 0.4em;
    color: var(--primary);
    text-transform: uppercase;
    margin-bottom:1.5rem ;
    display: block;
}

/*#navegacion-img {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.btn-chevron {
  margin: 0 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 90%;
}

#estado {
    display: inline-block;
    font-size: 0.6rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 0.2rem 1rem;
    border: 1px solid var(--primary);
    color: var(--accent);
    width: fit-content;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#estado.visible { 
    opacity: 1;
    transform: translateY(0);
}*/

#nom-anim {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: clamp(2rem, 4vw, 4rem);
    color: var(--text);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    margin-bottom: 0.5rem;
}

#nom-anim.visible {
    opacity: 1;
    transform: translateY(0);
}

#nom-cient {
    font-family: var(--primary-font);
    font-style: italic;
    font-size: 1.25rem;
    color: var(--muted);
    margin-bottom: 2.5rem;
    display: block;
}


#desc-an{
    font-size: 0.9rem;
    color: var(--text);
    opacity: 0.85;
    max-width:90%;
    line-height: 1.8;
    padding-bottom: 2.5rem;
}


#info-animal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    border-top:1px solid rgba(128, 128, 128, 0.171) ;
    padding-top: 2.5rem;
    margin-bottom: 3rem;
}



.item label {
    display: block;
    font-size: 0.6rem;
    text-transform: uppercase;
    color: var(--primary);
    margin-bottom: 0.4rem;
}

.item span {
    font-size: 0.9rem;
    color: var(--text);
}

.addons {
    display: flex;
    align-items: center;
    gap:1.5rem;
    margin-top: auto;
}

.nav{
    display: flex;
    border: 1px solid rgba(128, 128, 128, 0.171) ;
    border-radius:0 ;
    overflow: hidden;
}

.btn-nav{
    background: transparent;
    border: none;
    color: var(--text);
    width: 56px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
}

.btn-nav,
.material-symbols-outlined{
    font-size: 28px;
}

.btn-nav:hover:not(:disabled){
    background: var(--primary);
    color: var(--black);
}

.btn-nav:disabled{
    opacity: 0.2;
    cursor: not-allowed;
}

.btn-funfact{
    flex-grow: 1;
    height: 56px;
    background: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    cursor: pointer;
    border-radius: 0;

}

.btn-funfact:hover{
    background: var(--primary);
    color: var(--black);
}





/*#cta {
    text-align: center;
    background: var(--secondary);
    position: relative;
    padding: 4rem 2rem;
    overflow : hidden;

}

#cta h2 {
    color: var(--primary);
    font-family: var(--primary-font);
    margin-bottom: 1rem;
}

#cta p{
    max-width: 40rem;
    margin: 0 auto;
    color: var(--text);
     margin-bottom: 3rem;
    margin-top: 3rem;

}

.btn-cta{
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
    color: var(--accent);
    cursor: pointer;
    background: transparent;
    border: 1px solid var(--primary);
    text-decoration: none;
}

.btn-cta:hover {
    background: var(--primary);
    color: var(--black);
}*/


#popUp{
    position: fixed;
    bottom:1.8rem;
    left: 1.8rem;
    width: 300px;
    background: var(--secondary);
    border: 3px solid var(--primary);
    padding: 1.25rem 1.4rem;
    z-index: 200;
    transform: translateX(-120%);
    transition: transform 0.5s ease cubic-bezier(0.23, 1, 0.32, 1);
    display: none;
}

#popUp.active {
    display: block;
    transform: translateX(0);
}

#popUp .pestaña {
    font-family: var(--secondary-font);
    font-size: 0.6rem;
    text-transform: uppercase;
    color: var(--primary);
    margin-bottom: 0.6rem;
}

#popUp p {
    font-size: 0.82rem;
    color: var(--text);
}

#cerrarPopup {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: none;
    border: none;
    color: var(--text);
    cursor: pointer;
    font-size: 1rem;
}

@media (max-width: 1000px) {
    #hero{
        flex-direction: column;
        height: auto;
        overflow-y: auto;
    }

    #izq-col{
        width: 100%;
        height: 30vh;
    }

    #img-animal{
        height: 30vh;
        
    }
    

    #der-col {
        width: 100%;
        height: auto;
        padding: 3rem 2rem;
        border-left: none;
    }

    #info-animal{
        grid-template-columns: 1fr;
    }

    .addons{
        flex-direction: column;
        gap: 1rem;
    }

    .nav,
    .btn-funfact{
        width: 100%;
    }

    .btn-nav{
        flex: 1;
    }


}


/*.pie-pagina {
  display: flex;
  justify-content: center;
  background: var(--secondary);
}


.pie-pagina > p:nth-child(1) {
  color: var(--text);
  font-size: 0.8rem;
}*/

